[Unit]
Description=Vault Agent - retrieve Let's Encrypt certificates from Vault
After=network.target

[Service]
Type=notify
WorkingDirectory=/root/vault_agent_certificat
ExecStart=/usr/bin/vault agent -config=agent-config.hcl
Restart=always

[Install]
WantedBy=multi-user.target
