;
; SOA
;
@	IN	SOA	doublediamond-new.rezoleo.fr. root.doublediamond-new.rezoleo.fr. (2017100501 10800 3600 604800 86400 )
;
; Serveurs DNS
;
	IN	NS	doublediamond-new.rezoleo.fr.
;
; Serveurs MAIL
;
	IN	MX	1 mail.rezoleo.fr.
;
; Utilisateurs
;
2.0		IN		PTR		leogw.rezoleo.fr.
40.0    IN		PTR     pandora.rezoleo.fr.
47.0	IN		PTR		lantern.rezoleo.fr.
116.0	IN		PTR		pacman.rezoleo.fr.
117.0	IN		PTR		pacfat.rezoleo.fr.
220.0   IN		PTR     pipsqueak.rezoleo.fr.
221.0	IN		PTR     equestria.rezoleo.fr.
222.0   IN		PTR     eclip2.rezoleo.fr.
223.0   IN		PTR     eclip3.rezoleo.fr.
224.0   IN		PTR     eclip4.rezoleo.fr.
225.0   IN		PTR     eclip5.rezoleo.fr.
226.0   IN		PTR     mail.rezoleo.fr.
230.0 	IN      PTR     heimdall.rezoleo.fr.
7.128   IN      PTR     wifi-rezoleo.rezoleo.fr.
40.128	IN		PTR		doublediamond.rezoleo.fr.
41.128	IN		PTR		doublediamond-new.rezoleo.fr.
42.128  IN      PTR     celestia.rezoleo.fr.
43.128	IN		PTR     nasrezoleo.rezoleo.fr.
44.128  IN      PTR     lunadc.rezoleo.fr.
45.128  IN      PTR     cookies.rezoleo.fr.
46.128  IN      PTR     derpy.rezoleo.fr.
50.128  IN      PTR     valhalla.rezoleo.fr.
112.128 IN      PTR     rookie.rezoleo.fr.
100.66  IN      PTR     ruby.rezoleo.fr.
101.66  IN      PTR     fay.rezoleo.fr.
102.66  IN      PTR     maya.rezoleo.fr.
113.66  IN      PTR     webdev.rezoleo.fr.
114.66  IN      PTR     welcome.rezoleo.fr.
115.66  IN      PTR     sanctuary.rezoleo.fr.
11.64   IN      PTR     swa1.rezoleo.fr.
12.64   IN      PTR     swa2.rezoleo.fr.
13.64   IN      PTR     swa3.rezoleo.fr.
21.64   IN      PTR     swb1.rezoleo.fr.
22.64   IN      PTR     swb2.rezoleo.fr.
23.64   IN      PTR     swb3.rezoleo.fr.
31.64   IN      PTR     swc1.rezoleo.fr.
32.64   IN      PTR     swc2.rezoleo.fr.
33.64   IN      PTR     swc3.rezoleo.fr.
41.64   IN      PTR     swd1.rezoleo.fr.
42.64   IN      PTR     swd2.rezoleo.fr.
43.64   IN      PTR     swd3.rezoleo.fr.
44.64   IN      PTR     swd4.rezoleo.fr.
45.64   IN      PTR     swd5.rezoleo.fr.
51.64   IN      PTR     swe1.rezoleo.fr.
52.64   IN      PTR     swe2.rezoleo.fr.
53.64   IN      PTR     swe3.rezoleo.fr.
54.64   IN      PTR     swe4.rezoleo.fr.
61.64   IN      PTR     swf1.rezoleo.fr.
62.64   IN      PTR     swf2.rezoleo.fr.
63.64   IN      PTR     swf3.rezoleo.fr.
64.64   IN      PTR     swf4.rezoleo.fr.
65.64   IN      PTR     swf5.rezoleo.fr.
100.64  IN      PTR     swtest.rezoleo.fr.
200.64	IN		PTR		ranbowdash.rezoleo.fr.
